<script src="teste.js"></script>

<h1>Login</h1>
<form method="post" action="http://138.68.7.94:85/cadastro">
  <p>
    <label>Email:</label>
    <input type="text" name="email" value="teste@email.com">
  </p>
  <p>
    <label>Nome:</label>
    <input type="text" name="nome" value="Rafael">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>